*{
    text-align: center;
}
body {
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    background-image: url("../images/tiny-squares.png");
    padding: 0px;


}

header {
    background-color: #ffffff;
    height: 96px;
    width: 100%
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 0px;
    padding: 20px;
    font-size: 28px;

}

h2 {
    color: #4aaaa5
}








}
.nav, a {

    color: #777777;
    text-decoration: none;
    float: right;
    padding-right: 20px;

}