body {
    background-color: #efeee7;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;










.header {
    
    color: #777777;
}
.nav {
    color: #777777;
    text-decoration: none;
}